@import "./../../../scss/vars/spacing/index.scss";

.modalContent {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 128px;
  margin: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: $spacing-sm;
  display: flex;
  justify-content: space-evenly;
}

.actionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
