$blue: #50c4f6;
$grey: #c8c6c8;
$black: #3b3b3c;
$cultured: #f5f7f9;
$lightgray: #ced3d4;
$charcoal: #4a4a4a;

$site-primary: $blue;
$secondary-action: $grey;
$navigation-bg: $cultured;
$inactive-icon: $lightgray;
$color-text-default: $charcoal;
